
.footer {
    width: 100%;
    height: 450px;
    background-image: url(/footer.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 80px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    .logo {
        margin-bottom: 70px;
    }
    
    p {
        width: 150px;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: end; 
        margin-bottom: 30px;
    }

    a {
        color: white;
    }
}

.right {
    padding: 80px;
    display: flex;
    gap: 50px;


    .links {
        display: flex;
        flex-direction: column;
        width: 300px;

        @media(max-width: 1600px) {
            display: none;
        }

        .link {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: white;
            margin-bottom: 20px;
        }
    }

    .local {

        .mr {
            margin-bottom: 20px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media(max-width: 1600px) {
                font-size: 16px;
            }
        }

        p {
            color: white;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media(max-width: 1600px) {
                font-size: 16px;
            }
        }
    }

    .sentence {
        width: 300px;

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: white;

            @media(max-width: 1600px) {
                font-size: 16px;
            }
        }
    }
}