
.container {
    display: none;
    opacity: 1;
    transition: all 1s ease;
}


.active {
    display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    .link {
        padding: 10px 30px;

        &:active {
            color: #968ddd;
        }
    }
}